<h1> <%= @cat.name %> </h1>

<% display_rows = [:sex, :color, :age] %>

<table>
  <% display_rows.each do |row| %>
    <tr>
      <th>
        <%= row.to_s + ":" %>
      </th>
      <td>
        <%= @cat.send(row) %>
      </td>
    </tr>
  <% end %>
</table>

<h4>Description</h4>
<p> <%= @cat.description %> </p>

<% if current_user?(@cat.owner) %>

  <h3>Pending requests</h3>
  <% @cat.pending_requests.includes("requester").each do |request| %>
    <%= render "cat_rental_requests/show", request: request %>

    <table>
    <form action="<%= deny_cat_rental_request_url(request) %>" method="post">

      <%= auth_token_input %>

      <button>Deny request</button>
    </form>

    <form action="<%= approve_cat_rental_request_url(request) %>" method="post">

      <%= auth_token_input %>

      <button>Aprove request</button>
    </form>

    <br>
  <% end %>
  <br>
  <h3>Approved requests</h3>
  <% @cat.approved_requests.includes("requester").each do |request| %>
    <%= render "cat_rental_requests/show", request: request %>
  <% end %>
  <br>
  <h3>Denied requests</h3>
  <% @cat.denied_requests.includes("requester").each do |request| %>
    <%= render "cat_rental_requests/show", request: request %>
  <% end %>
<% end %>
